.git
__pycache__

# ignore all exe files (to avoid pushing webdrivers)
*.exe

# Ignore the actual credentials and apprise config files
config.json
apprise.yaml

# ...but allow examples
!config.example.json
!apprise.example.yaml
